
body
{

   
   background-color: rgba(0, 225, 255, 0.52);
   text-align: center;
   
}

    section
    {
    background-color: rgba(18, 196, 202, 0.322);
    margin-top: 2%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    margin-right :50%;
    margin-left: 30%;
    border-radius: 10px;
    width: 650px;
    height: 550px;
    border-radius: 10px;
    
    }
    table
    {
         margin: 5px 5px;
       
       outline:0;
       
       width: 550px;
       height: 250px;
       border-radius: 6px;
       
    
    }
    form input[type="submit"]
    {
       background-color: rgb(42, 136, 165);
       border: 0;
       color: white;
       margin-top: 10px;
    
    }
